{% extends 'base.html' %}
{% load static %}
{% block title %}PanetaSafari Blog{% endblock title %}

{% block body %}


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>blog</h3>
                        <p>Leading Tour Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for post in posts %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ post.image.url }}" alt="{{ post.name }}">
                                <a href="#" class="blog_item_date">

                                    <p>{{ post.created }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'post_detail' post.slug %}">
                                    <h2>{{ post.name }}</h2>
                                </a>
                                <ul class="blog-info-link">
                                    <li><a href="{% url 'post_detail' post.slug %}"><i class="fa fa-newspaper"></i> Read More</a></li>
                                </ul>
                            </div>
                        </article>
{% endfor %}



                        <nav class="blog-pagination justify-content-center d-flex">
                                  {% if is_paginated %}
                <ul>
                {% if queryset.has_previous %}
                    <li><a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}">{{ page_obj.number }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class=""><a href="?{{ page_request_var }}={{ page_obj.next_page_number }}">{{ page_obj.number }}</a></li>
                {% endif %}
                </ul>
        {% endif %}
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">




                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            {% for recent in recent_posts%}
                            <div class="media post_item">
                                <img src="{{ recent.image.url }}" alt="{{ recent.name }}">
                                <div class="media-body">
                                    <a href="{% url 'post_detail' recent.slug %}">
                                        <h3>{{ recent.name }}..</h3>
                                    </a>
                                    <p>{{ recent.created }}</p>
                                </div>
                            </div>
                       {% endfor %}
                        </aside>
                         <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Post</h3>
                            {% for popular in popular_posts%}
                            <div class="media post_item">
                                <img src="{{ popular.image.url }}" alt="{{ popular.name }}">
                                <div class="media-body">
                                    <a href="{% url 'post_detail' popular.slug %}">
                                        <h3>{{ popular.name }}..</h3>
                                    </a>
                                    <p>{{ popular.created }}</p>
                                </div>
                            </div>
                       {% endfor %}
                        </aside>





                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock body %}