{% extends 'base.html' %}
{% load static %}

{% block body %}

   <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Paneta</h3>
                        <p>Leading Tour Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

<!--Our Story Start-->


    <div class="about_story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="story_heading">
                        <h3>Our Story</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 offset-lg-1">
                            <div class="story_info">
                                <div class="row">
                                    <div class="col-lg-9">
<p>Our guides know the NATURE</p>
<p>We believe in two simple values: attentiveness and knowledge. We need them in the bush, in cities, everywhere, whenever we are with guests.</p>
<p>We know they want to learn, to enjoy and to enjoy the short time they have in our country fully. The volume of visitors we guide is quite big, but think of the fun and the lasting friendship that more often than not is gained in the course of our duty.</p>
<p>Our guides go through an annual training together (usually early December) to refresh their skills on customer relations, knowledge of the wildlife, culture and what to do in an emergency. This also builds team spirit and empowers each one to excel in their personal area of expertise.</p>
<p>They receive a generous compensation package and per diem with opportunities to earn bonuses for client satisfaction.</p>
<p>Paneta safaris promotes staff from within so that by the time that someone is promoted to a guide, they know the high standards of the company, how to work together and we already know them well which is invaluable when matching guests with guides.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="story_heading">
                        <h3>Our Vehicles</h3>
                    </div>
                              <div class="story_info">
                                <div class="row">
                                    <div class="col-lg-9">
<p>To travel comfortable and safe our 4WD Toyota Land Cruisers have lots of leg space and can take up to 6 guests</p>
<p>Pop-up roof is ideal for wildlife viewing.</p>
<p>Our safari vehicles are well maintained and fitted with HF long-range radios for easy communication.</p>
<p>The vehicles are fully equipped with first aid kits, fridges, as well as binoculars and bean bags for camera support.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="story_thumb">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="thumb padd_1">
                                            <img src="{% static 'img/track2.jpg' %}" alt="">
                                        </div>
                                    </div>
                                     <div class="col-lg-6 col-md-6">
                                        <div class="thumb">
                                                                                        <img src="{% static 'img/track.jpg' %}" alt="">

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="counter_wrap">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3  class="counter">378</h3>
                                            <p>Tour has done successfully</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3 class="counter">30</h3>
                                            <p>Yearly tour arrange</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3 class="counter">2263</h3>
                                            <p>Happy Clients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Our Story End-->



    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Enjoy Video</h3>
                        <div class="video_icon">
                            <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="travel_variation_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                        </div>
                        <h3>Comfortable Journey</h3>
                        <p>Our safari vehicles are well maintained and fitted with HF long-range radios for easy communication. The vehicles are fully equipped with first aid kits, fridges, as well as binoculars and bean bags for camera support.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/2.svg' %}" alt="">
                        </div>
                        <h3>Luxuries Hotel</h3>
                        <p>We assure a great accomodation that is suitable for our customers. We love seeing them comfortable.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/3.svg' %}" alt="">
                        </div>
                        <h3>Travel Guide</h3>
                        <p>planning to go on a beach holiday, a safari or trekking? Congratulation! Get ready because you’re about to embark on a trip of a lifetime that will unravel the beauty and wonder of nature.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--Popular Places-->
    <div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Places</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">

              {% for dest in popular_dest %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{{ dest.image.url }}" alt="{{dest.name}}">
                            <a href="#" class="prise">${{dest.price}}</a>
                        </div>
                        <div class="place_info">
                            <a href="{% url 'destinationdetails' dest.slug %}"><h3>{{dest.name}}</h3></a>
                            <p>{{dest.location}}</p>
                            <div class="rating_days d-flex justify-content-between">

                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="{% url 'destinationdetails' dest.slug %}">{{dest.duration}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <a class="boxed-btn4" href="#">More Places</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!---->

    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Micky Mouse</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Tom Mouse</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Jerry Mouse</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->


    <div class="recent_trip_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Recent Articles</h3>
                    </div>
                </div>
            </div>
            <div class="row">
              {% for post in recent_posts%}
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{{ post.image.url }}" alt="{{ post.name }}">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>{{ post.created }}</span>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}">
                                <h3>{{ post.name }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>



    {% endblock body %}